<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
</head>
<body>
  <h1>Connexion</h1>
  <% if (erreur) { %>
    <p style="color: red;"><%= erreur %></p>
  <% } %>
  <form action="/login" method="post">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Se connecter">
  </form>
  <p>Pas encore inscrit? <a href="/signup">Inscription</a></p>
</body>
</html>

